<%= link_to van_path(van), class: "background-image-van" do %>

  <div style="background-image: url(http://res.cloudinary.com/maximelpy/image/upload/h_150,w_240,c_fill/<%= van.photo.key %>)">

    <h2><%= van.title %></h2>
    <p><%= van.address %></p>
    <p><%= van.price %>$/per day</p>

  </div>
<% end %>
