<div class="container">
    <div class="row justify-content-md-center">
    <div class="col-sm-6" >
      <h1>Create a van</h1>

<%= simple_form_for(@van) do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :address, input_html: {id: 'edit_address' } %>
  <%= f.submit %>
<% end %>

<p><%= link_to "Go back", vans_path, class: "btn btn-primary" %></p>

</div>
</div>
</div>
