<h1>name : <%= @van.name %></h1>
<h1>price : <%= @van.price %></h1>
<h1>description : <%= @van.description %></h1>
<h1>address : <%= @van.address %></h1>
<p><%= link_to "back to see all vans", van_path(params[:id]) %></p>
