<div class="container">
  <div class="text-dark font-weight-bold text-center"><srong>All Your Bookings</srong>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Car brand</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">By</th>
      <th scope="col">Status</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <% @bookings.each do |booking| %>
            <% unless policy(booking).user_is_creator? %>
              <td class="card-title"><%= link_to booking.user.email, booking_path(booking), class: "text-dark" %></td>
              <td class="card-title"><%= booking.start_date %></td>
              <td class="card-title"><%= booking.end_date %></td>
              <td class="card-title"><%= booking.van.user.full_name %></td>
              <td class="card-title"><%= booking.approved %></td>
            <% else %>
              <td class="card-title text-dark"><%= link_to booking.van.title, van_path(booking.van), class: "text-dark" %></td>
              <td class="card-title "><%= booking.start_date %></td>
              <td class="card-title "><%= booking.end_date %></td>
              <td class="card-title "><%= booking.van.user.full_name %></td>
              <td class="card-title "><%= booking.approved %></td>
              <% if booking.approved == "approved" %>
                <h3>Please, leave a note or any comment for <%= booking.van.user.full_name%>'s van</h3>
                <td class="card-title "><%= link_to "Rating", new_van_rating_path(booking.van), class: "btn btn-outline-success" %></td>
              <% end %>
            <% end %>
    </tr>
  <% end %>

  </tbody>
</table>
</div>
</div>
