<ol>
  <% @bookings.each do |booking| %>
    <div>
      <li>
        <% unless policy(booking).user_is_creator? %>
          <p><%= link_to booking.user.email, booking_path(booking) %></p>
          From <%= booking.start_date %> - To <%= booking.end_date %>
        <% else %>
          <p><%= booking.van.title %> - status: <%= booking.approved %></p>
          From <%= booking.start_date %> - To <%= booking.end_date %>
          <a><%= booking.van.user.full_name %></a>
        <% end %>
      </li>
    </div>
  <% end %>
</ol>
