<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-6" >
      <h1>Create a new booking</h1>

      <%= simple_form_for [@van, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.button :submit, class: "btn btn-outline-success" %>
      <% end %>

      <p><%= link_to "Go back", vans_path, class: "btn btn-primary" %></p>
    </div>
  </div>
</div>

